{% extends 'base.html' %}

{% from "_formhelpers.html" import render_field %}
{% import "render.html" as render %}

{% block body %}

<div style="float: left; margin-right: 20px;">
<form method="post" action="">
  <dl>
    {{ render_field(form.type) }}
    {{ render_field(form.hash) }}
    {{ render_field(form.email) }}
    {{ render_field(form.bounty) }}
  </dl>
  <p><input type="submit" value="Add bounty">
</form>

Please note,
<br/>
this is <b>alpha</b> code and
<br/>
still a work-in-progress...

</div>

<h2>Bounties</h2>

<form class="sortfilter" method="get" action="">
    {{ sortfilterform.sort() }} |
    {{ sortfilterform.filter() }}
</form>


<table>
    <tr>
        <th>hash</th>
        <th>award</th>
        <th>age</th>
        <th>&nbsp;</th>
    </tr>
{% for bounty in bounties %}
    <tr>
        <td>{{ bounty.hash }}</td>
        <td>{{ bounty.bounty }} BTC</td>
        <td>{{ bounty.age_string() }}</td>
        <td><a href="{{ url_for('bounty', id=bounty.key().id()) }}">submit solution<a/></td>
    </tr>
{% endfor %}
    <tr>
        <td colspan=4>
        {{ render.pagination(cursor, more=true, sort=sortfilterform.sort.data, filter=sortfilterform.filter.data) }}
        </td>
    </tr>
</table>

{% endblock %}
